/* Variables */
:root {
  --c-red: #FE573B;
  --c-yellow: #FAE423;
  --c-blue: #5F8BFF;

  --c-black: #262626;
  --c-dark-grey: #404040;
  --c-mid-grey: #E3E4E6;
  --c-light-grey: #FAFAFA;
  --c-white: #ffffff;

  --grid-unit: 1rem; /* 16px */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.slide {
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  padding: var(--grid-unit);
}
